@import '../../../theme';

.menuButton {
    color: #fff;
    font-size: 30px;
    display: inline-block;
    line-height: 0;
    padding: 0 0;
    background: none;
    border: none;
    width: 50px;
    display: none;

    @media screen and (max-width: $sizeSM) {
        display: block;
    }
}

.navigation {
    position: absolute;
    display: none;
}

.navigationVisible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #7ad6bb;
    z-index: 100;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navLink {
    display: block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    font-weight: 600;
}

.exitButton {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    color: #fff;
}