@import '../../../theme';

.navbar {
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 0 30px;
    vertical-align: middle;
    display: flex;
    background-color: $primaryColor;

    @media screen and (max-width: $sizeSM) {
        justify-content: space-between;
    }
}

.avatar {
    top: 0;
    transform: translateY(-50%);
}

.navigation {
    flex-grow: 1;
}