@import '../../../theme';

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: $sizeSM) {
        display: none;
    }
}

.navLink {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #fff0;
    border-radius: 50%;
    line-height: 0;
    padding: 8px 6px;
}

.navLinkActive {
    border-color: #fff;
}

.navLink + .navLink {
    margin-left: 15px;
}

.navLink:hover {
    opacity: 0.5;
}