.header {
    width: 100%;
    height: 190px;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    border-bottom: 1px solid #fff;
}