@import '../../../theme';

.container {
    margin: auto;
    min-height: 100vh;
    max-width: 768px;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    padding: 30px;

    @media screen and (max-width: $sizeXS) {
        padding: 30px 20px;
    }
}

.content p {
    font-size: 14px;
    margin: 12px 0;
}

.content blockquote {
    border-left: 4px solid $primaryColor;
    color: #ababab;
    font-family: Times New Roman;
    font-size: 16px;
    font-style: italic;
    padding-left: 15px;
    margin: 35px 30px;
}