@import '../../../theme';

.galleryItem {
    padding: 4px;
    width: calc(100% / 3);

    @media screen and (max-width: $sizeSM) {
        width: 50%;
    }

    @media screen and (max-width: $sizeXS) {
        width: 100%;
        padding: 4px 0;
    }
}

.galleryItem img {
    background-color: #f8f8f8;
    height: 130px;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    display: block;

    @media screen and (max-width: $sizeXS) {
        height: 50vw;
    }
}